{% extends "base.html" %}

{% block title %}
Bookstore || dashboard
{% endblock %}

{% block main_content %}
<!-- dashboard start -->
<div class="container-fluid py-3">
    <h1 class="h3 mb-3">Admin Dashboard</h1>
    <div class="row d-flex">
      <div class="col-md-6 col-xl-4 mb-4">
        <a href="{% url 'all-orders' %}" class="text-decoration-none">
          <div class="card shadow-lg border-0 py-2">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col me-2">
                  <div
                    class="text-uppercase text-primary fw-bold small mb-1 text-center"
                  >
                    <span>Delivered Orders</span>
                  </div>
                  <div class="text-secondary fw-bold mb-0 text-center">
                    <span>Delivered: {{ total_delivered }}</span>
                  </div>
                  <div class="col-auto text-center">
                    <i
                      class="fab fa-first-order-alt fs-1 text-success"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <a href="{% url 'customers' %}" class="text-decoration-none">
          <div class="card shadow border-0 py-2 bg-warning">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col me-2">
                  <div
                    class="text-uppercase text-dark fw-bold small mb-1 text-center"
                  >
                    <span> Total Users </span>
                  </div>
                  <div class="text-dark fw-bold mb-0 text-center">
                    <span>Active: {{ total_users }}</span>
                  </div>
                  <div class="col-auto text-center">
                    <i class="fas fa-users fs-1 text-success"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <a href="{% url 'get-all-books' %}" class="text-decoration-none">
          <div class="card shadow border-0 py-2 bg-success">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col me-2">
                  <div
                    class="text-uppercase text-white fw-bold small mb-1 text-center"
                  >
                    <span> Total Products </span>
                  </div>
                  <div class="text-white fw-bold mb-0 text-center">
                    <span>In Stock: {{ total_books }}</span>
                  </div>
                  <div class="col-auto text-center">
                    <i class="fas fa-globe fs-1 text-light"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <a href="{% url 'all-orders' %}" class="text-decoration-none">
          <div class="card shadow border-0 py-2 bg-danger">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col me-2">
                  <div
                    class="text-uppercase text-white fw-bold small mb-1 text-center"
                  >
                    <span>Pending Orders</span>
                  </div>
                  <div class="text-white fw-bold mb-0 text-center">
                    <span>Pending: {{ pending_books }}</span>
                  </div>
                  <div class="col-auto text-center">
                    <i class="fas fa-globe fs-1 text-white" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <a href="{% url 'customers' %}" class="text-decoration-none">
          <div class="card shadow border-0 py-2 bg-primary">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col me-2">
                  <div
                    class="text-uppercase text-white fw-bold small mb-1 text-center"
                  >
                    <span> Admins </span>
                  </div>
                  <div class="text-white fw-bold mb-0 text-center">
                    <span>Admins: {{ total_admins }}</span>
                  </div>
                  <div class="col-auto text-center">
                    <i class="fas fa-users fs-1 text-white"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <a href="{% url 'get-all-categories' %}" class="text-decoration-none">
          <div class="card shadow border-0 py-2 bg-dark">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col me-2">
                  <div
                    class="text-uppercase text-light fw-bold small mb-1 text-center"
                  >
                    <span> Categories </span>
                  </div>
                  <div class="text-white fw-bold mb-0 text-center">
                    <span>Categories: {{ total_categories }}</span>
                  </div>
                  <div class="col-auto text-center">
                    <i class="fas fa-globe fs-1 text-white"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
<!-- dashboard end  -->

{% endblock %}