{% extends "base.html" %}

{% block title %}
Bookstore || all-books
{% endblock %}

{% block main_content %}
<div class="container-fluid">
    <h1 class="my-4 text-muted text-center"> All Books </h1>
    <div class="d-flex justify-content-end">
      <a href="{% url 'post-book'%}" class="btn btn-warning">Add Book</a>
    </div>
    <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col"> Name </th>
            <th scope="col"> Image Url </th>
            <th scope="col"> Author </th>
            <th scope="col"> Price </th>
            <th scope="col"> Published Date </th>
            <th scope="col"> Instock</th>
            <th scope="col"> Description </th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for book in books %}
          <tr>
            <td> {{book.name}} </td>
            <td> 
                <img src="{{book.imageUrl}}" alt="{{book.name}}" height="100px" width="70px">
            </td>
            <td> {{book.author}} </td>
            <td> {{book.price}} </td>
            <td> {{book.published_date}} </td>
            <td> {% if book.instock%} In Stock {% else%} Out of Stock {% endif %} </td>
            <td> {{book.description}} </td>
            <td>
              <a href="{% url 'update-book' book.id%}" class="btn btn-primary">Edit</a>&nbsp;&nbsp;
              <a href="{% url 'delete-book' book.id%}" class="btn btn-danger">Delete</a>
          </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}


